	<article class="product-frm">
	<form name="add-product" ng-submit="ctrl.addProduct()">
	<h1>Add New Product</h1>
		<div class="input-group margin marginTop">
  			<span class="input-group-addon newProduct" id="basic-addon1">Product Name</span>
  			<input id="newProduct2" type="text" name="name" class="form-control" placeholder="ProductName" ng-model="ctrl.name"
  			aria-describedby="basic-addon1" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Insert Image</span>
			<input id="newProduct2" type="text" name="image" placeholder="Image Url"class="form-control" ng-model="ctrl.image" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Description</span>
  			<input id="newProduct2" type="text" name="description" class="form-control" placeholder="Description"
  			aria-describedby="basic-addon1" ng-model="ctrl.description" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Category</span>
  			<select id="newProduct2" ng-options="options as options.category for options in ctrl.categories" class="form-control" ng-model="ctrl.curCate" name="category" required></select>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct">$ Price</span>
  			<input id="newProduct2" type="number" name="price" class="form-control" placeholder="10.00" aria-label="Amount (to the nearest dollar)" ng-model="ctrl.price" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Quantity</span>
  			<input id="newProduct2" type="number" name="quantity" class="form-control" placeholder="ProductName"
  			aria-describedby="basic-addon1" ng-model="ctrl.quantity" required>
		</div>

		<div>
			<button class="btn newSubmit btn-green" type="submit">{{ctrl.product_add_btn}}</button>
		</div>
	</form>
</article>