<shop-navbar></shop-navbar>
<section id="admin" class="clearfix">
	<div class="admin-container">
		<aside class="nav-panel">
			<h3>Admin Panel</h3>
			<ul>
				<li><a ng-class="{'active':ctrl.page == 1}"ui-sref="admin.dash">Products</a></li>
				<li><a ng-class="{'active':ctrl.page == 2}" ui-sref="admin.orders">Orders</a></li>
				<li><a ng-class="{'active':ctrl.page == 3}" ui-sref="admin.add_product">Add Product</a></li>
				<li><a ng-click="ctrl.logout()">Log Out</a></li>
			</ul>
		</aside>
	
  	<article class="main-content">
    <div ui-view=""></div>
  </div>
  </article>
</section>
