<h1>Orders</h1>
<div ng-hide="ctrl.is_orders">
	<p>
		You have no orders. Get some customers!
	</p>
</div>

<!-- <button class="btn btn-danger" ng-click='ctrl.reloadProducts()'>Reload Products</button> -->

<div ng-show="ctrl.is_orders">
	<table class="products-list table">
		<tr>
			<th>Order ID</th>
			<th>Cart</th>
			<th>Total</th>
			<th>Customer Name</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="order in ctrl.orders track by $index">
			<td>{{order.id | digits:4}}</td>
			<td>
				<ul>
					<li ng-repeat='item in order.cart track by $index'>
						{{item.product.name}} Qty:{{item.quantity}}
					</li>
				</ul>
			</td>
			<td>{{order.final_total | currency}}</td>
			<td>{{order.name}}</td>
			<td><a ng-click="">Details</a></td>
		</tr>
	</table>
	<h4>Total Revenue to Date: {{ctrl.totalRev | currency}}</h4>
	<button class="btn btn-danger" ng-click='ctrl.deleteOrders()'>Remove All Orders</button>
</div>