<!-- 	TODO #2: Populate fields with product data -->
<article class="product-frm">
<h1>
	Edit Product
</h1>
		<div class="input-group margin marginTop">
  			<span class="input-group-addon newProduct" id="basic-addon1">Product Name</span>
			<input id="newProduct2" type="text" name="name" class="form-control" placeholder="ProductName" ng-model="ctrl.product.name" aria-describedby="basic-addon1" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Insert Image</span>
			<input id="newProduct2" type="text" name="image" placeholder="Image Url"class="form-control" ng-model="ctrl.product.image" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Description</span>
  			<input id="newProduct2" type="text" name="description" class="form-control" placeholder="Description"
  			aria-describedby="basic-addon1" ng-model="ctrl.product.description" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Category</span>
  			<select id="newProduct2" ng-options="options as (options.category|titleCaseFilter) for options in ctrl.categories" class="form-control" ng-model="ctrl.curCate" name="category" required></select>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct">$ Price</span>
  			<input id="newProduct2" type="number" name="price" class="form-control" placeholder="10.00" aria-label="Amount (to the nearest dollar)" ng-model="ctrl.product.price" required>
		</div>
		<div class="input-group margin">
  			<span class="input-group-addon newProduct" id="basic-addon1">Quantity</span>
  			<input id="newProduct2" type="number" name="quantity" class="form-control" placeholder="ProductName"
  			aria-describedby="basic-addon1" ng-model="ctrl.product.quantity" required>
		</div>

		<div class="input-group margin updateBu marginTop">
			<button class="btn btn-green" type="submit" ng-click='ctrl.updateProduct()'>{{ctrl.product_update_btn}}</button>

			<button class="btn btn-danger deleteBu" type="submit" ng-click='ctrl.deleteProduct()'>{{ctrl.product_delete_btn}}</button>
		</div>
</article>