<div class="container-fluid">

  <div>
    <h3 style="margin-bottom: 20px;">Shopping Cart</h3>
  </div>

  <div ng-show='ctrl.cart.length <= 0'>
      <h3>There are no items in your cart!</h3>
  </div>

  <div class="cartitem row">
    <ul ng-show='ctrl.cart.length > 0'>
     <li>
      <cart-table></cart-table>
      </li>
    </ul>
  </div>

  <div id="total">
    
    <button type="button" class="btn btn-lg btn-green"  ng-click="ctrl.goTocheckout()" ng-disabled='ctrl.cart.length <= 0'>Checkout</button>
  </div>

</div>
