<shop-navbar></shop-navbar>

<!-- Overall Container -->
<section class="product-view" role="product-view">

<!-- Top content -->
  <section class="top-banner" role="topbanner">
    <div class="content-wrapper">
      <div class="table-view">
        <div class="table-cell">
          <div class="content">
            <h1>
              Find Your Gear
            </h1>

            <div>
              <form>
                <!-- TO DO #3: ENABLE PRODUCT SEARCH -->
                <div class="form-container">
                  <input
                    ng-model='ctrl.search'
                    type="text"
                    class="form-control"
                    id="search" placeholder="Refine your search">
                  <a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sidebar -->
  <div class="container">
    <div class="row">

      <div class="col-sm-2 hidden-xs sidebar">
        <ul class="category-list">
          <!-- <h4 class="category-header">Categories</h4> -->
          <li ng-click="ctrl.currCtgry = ''"
            ng-class="{active : ctrl.currCtgry == ''}"
            class="list">
            <img src="assets/img/logo2.png">
            All
          </li>
          <li ng-repeat='category in ctrl.categories'
            ng-click='ctrl.currCtgry = category'
            ng-class='{active : category == ctrl.currCtgry}'
            class="list">
            <img ng-src='{{"assets/img/" + category + ".png"}}'>
            {{category | titleCaseFilter}}
          </li>

        </ul>
      </div>
    </div>

    <!-- Category Products -->
    <div id="products" class="col-sm-10 col-xs-12 container">
      <div class="row">
        <!-- TODO #3: SHOW PRODUCTS -->
        <div class="main-card col-xs-12 col-sm-6 col-md-4"
           ng-repeat='product in ctrl.products | filter:{name:ctrl.search, category:ctrl.currCtgry}'
           ng-click='ctrl.toProductPage(product.id)'>
          <div id="product-card" class="product-card">

            <div class="products">
            <!-- SET PRODUCT IMAGE -->
              <div class="product-img" style="background: url('{{product.image}}');
                background-size:cover;
                 background-position:center center;"
                 >
                <div class="prod-name">
              <!-- SET PRODUCT NAME -->
                  {{product.name}}
                <div class="product-cost">
                <!-- SET PRODUCT PRICE WITH FILTER -->
                  <span ng-hide='product.quantity <= 0'>{{product.price | currency}}</span>
                  <span ng-show='product.quantity <= 0'>SOLD OUT</span>
                </div>
              </div>
            </div>

            <div class="product-buy" ng-hide='product.quantity <= 0' ng-click='ctrl.addtoCart(product); $event.stopPropagation();' >
              <div class="table-view">
                <div class="table-cell">
                  <i class="fa fa-shopping-cart"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<section>
