<shop-navbar></shop-navbar>


<div id="checkout" class="container">
  <button type="submit" class="btn btn-white back-btn" ng-click='ctrl.goBack()'>Back</button>
  <div class="checkout-header">
    <h3 class="check-title">Checkout</h3>
  </div>
  <div class="cart-list panel panel-default">
    <div class="panel-heading"ng-click='ctrl.selected = 1'>
      <h4 ng-click='ctrl.selected = 1'>Cart:</h4>
      <h4 class='panel-heading-right' ng-hide=''>Total: {{ctrl.total * 1.13|currency}}</h4>
    </div>
    <ul class="panel-body" ng-show='ctrl.selected == 1'>
      <form name='cartForm'>
      <table class="table table-condensed table-striped">
        <tr class="">
          <th class="th-img">Item</th>
          <th class="th-name">Name</th>
          <th class="th-prc">Price</th>
          <th class="th-qty">Quantity</th>
          <th class="th-tot">Total</th>
          <th class="th-del">&nbsp;</th>
        </tr>
        <tr ng-repeat='item in ctrl.cart track by $index'>
          <td><img class="" ng-src='{{item.product.image}}'></td>
          <td>{{item.product.name}}</td>
          <td>{{item.product.price|currency}}</td>
          <td><input type="number"
          class='qty-input'
          ng-model='item.quantity'
          max='{{item.product.quantity}}'
          min='1'
          name='qty_{{$index}}'
          ng-class="{'invalid-form':cartForm['qty_' +$index].$invalid}"
          ng-change="ctrl.updateTotal()">
          <div ng-messages="cartForm['qty_' +$index].$error" ng-if="cartForm['qty_' +$index].$touched || ctrl.submit">
                <div class="alert alert-danger error-msg" ng-message="min">Quantity must be at least 1</div>
                <div class="alert alert-danger error-msg" ng-message="max">Not enough in stock! The  max available is {{item.product.quantity}}</div>
              </div>
              </td>
          <td>{{item.quantity * item.product.price | currency}}</td>
          <td><button class="btn btn-danger btn-xs" ng-click='ctrl.removeCart($index)'><i class="fa fa-times"></i></button></td>
        </tr>
      </table>
      <div class="totals">
        <h4>Subtotal:{{ctrl.total|currency}}</h4>
        <h4>Tax:{{ctrl.total * 0.13 |currency}}</h4>
        <h4>Total:{{ctrl.total * 1.13|currency}}</h4>
      </div>
      <button class="btn btn-white btn-next" ng-click='ctrl.selected = 2'>Next Step</button>
      </form>
    </ul>

  </div>

  <div class="ship-form panel panel-default">
    <div class="panel-heading"ng-click='ctrl.selected = 2'>
      <h4>Shipping and Billing Info</h4>
      <h4 class='panel-heading-right' ng-hide=''>Total + Shipping: {{(ctrl.total * 1.13) + (ctrl.ship.cost)|currency}}</h4>
    </div>
    <div class="panel-body" ng-show='ctrl.selected == 2'>
      <form name='addressForm' novalidate>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text"
            class="form-control"
            name="name"
            placeholder="Name"
            ng-model='ctrl.name'
            ng-class="{'invalid-form':addressForm.name.$invalid && (addressForm.name.$touched || ctrl.submit),'valid-form':addressForm.name.$valid && addressForm.name.$touched}"
            required >
          <div ng-messages="addressForm.name.$error" ng-if="ctrl.submit || addressForm.name.$touched">
                  <div class="alert alert-danger" ng-message="required">A name is required.</div>
                </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email"
            class="form-control"
            name="email"
            placeholder="Email"
            ng-model='ctrl.email'
            ng-class="{'invalid-form':addressForm.email.$invalid && (addressForm.email.$touched || ctrl.submit),'valid-form':addressForm.email.$valid && addressForm.email.$touched}"
            required>
          <div ng-messages="addressForm.email.$error" ng-if="ctrl.submit || addressForm.email.$touched">
            <div class="alert alert-danger" ng-message="required">An email is required.</div>
                  <div class="alert alert-danger" ng-message="email">This is not a valid email.</div>
              </div>
        </div>
        <div class="form-group">
          <label for="name">Address:</label>
          <input type="text"
            class="form-control"
            name="address"
            placeholder="Address"
            ng-model='ctrl.address'
            ng-class="{'invalid-form':addressForm.address.$invalid && (addressForm.address.$touched || ctrl.submit),'valid-form':addressForm.address.$valid && addressForm.address.$touched}"
            required>
          <div ng-messages="addressForm.address.$error" ng-if="ctrl.submit || addressForm.address.$touched">
                  <div class="alert alert-danger" ng-message="required">An address is required.</div>
                </div>
        </div>
        <div class="form-group">
          <label for="name">City:</label>
          <input type="text"
            class="form-control"
            name="city"
            placeholder="City"
            ng-model='ctrl.city'
            ng-class="{'invalid-form':addressForm.city.$invalid && (addressForm.city.$touched || ctrl.submit),'valid-form':addressForm.city.$valid && addressForm.city.$touched}"
            required>
          <div ng-messages="addressForm.city.$error" ng-if="ctrl.submit || addressForm.city.$touched">
                  <div class="alert alert-danger" ng-message="required">A valid city is required.</div>
                </div>
        </div>
        <div class="form-group">
          <label for="name">Province/State/Region:</label>
          <input type="text"
            class="form-control"
            name="province"
            placeholder="Province"
            ng-model='ctrl.province'
            ng-class="{'invalid-form':addressForm.province.$invalid && (addressForm.province.$touched || ctrl.submit),'valid-form':addressForm.province.$valid && addressForm.province.$touched}"
            required>
          <div ng-messages="addressForm.province.$error" ng-if="ctrl.submit || addressForm.province.$touched">
            <div class="alert alert-danger" ng-message="required">A valid region is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Postal Code/ZIP: </label>
          <input type="text"
            class="form-control"
            name="postal"
            placeholder="Postal Code"
            ng-model='ctrl.postal'
            pattern='[ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy][0-9][A-Za-z]( )?[0-9][A-Za-z][0-9]'
            ng-class="{'invalid-form':addressForm.postal.$invalid && (addressForm.postal.$touched || ctrl.submit),'valid-form':addressForm.postal.$valid && addressForm.postal.$touched}"
            required>
          <div ng-messages="addressForm.postal.$error" ng-if="ctrl.submit || addressForm.postal.$touched">
            <div class="alert alert-danger" ng-message="required">A valid postal code is required.</div>
            <div class="alert alert-danger" ng-message="pattern">This is not a valid postal code.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="shipping">Shipping Options:</label>
          <select class="form-control" ng-options='ship as ship.label for ship in ctrl.shipOptions' ng-model='ctrl.ship'>

          </select>
        </div>

      </form>
      <button class="btn btn-white btn-next" ng-disabled= '!addressForm.$valid'
      ng-click='ctrl.selected = 3'>Next Step</button>
    </div>
  </div>

  <div class="payment-form panel panel-default">
    <div class="panel-heading"ng-click='ctrl.selected = 3'>
      <h4>Payment Info</h4>
    </div>
    <div class="panel-body" ng-show='ctrl.selected == 3'>
      <form name='cardForm' novalidate>
        <div class="form-group">
          <label for="cardnumber">Credit Card Number:</label>
          <input type="type"
            class="form-control"
            name="cardnumber"
            placeholder="Card Number"
            ng-model='ctrl.card_number'
            minlength='16'
            maxlength='16'
            pattern="\d*"
            ng-class="{'invalid-form':cardForm.cardnumber.$invalid && (cardForm.cardnumber.$touched || ctrl.submit),'valid-form':cardForm.cardnumber.$valid && cardForm.cardnumber.$touched}"
            required>
          <div ng-messages="cardForm.cardnumber.$error" ng-if="ctrl.submit || cardForm.cardnumber.$touched">
                  <div class="alert alert-danger" ng-message="required">A valid credit card number is required.</div>
                  <div class="alert alert-danger" ng-message="minlength">This number is too short!</div>
                  <div class="alert alert-danger" ng-message="maxlength">This number is too long!</div>
                  <div class="alert alert-danger" ng-message="pattern">You must enter a number.</div>
                </div>
        </div>
        <div class="form-group">
          <label for="cardname">Name on Card:</label>
          <input type="text"
            class="form-control"
            name="cardname"
            placeholder="Name"
            ng-model='ctrl.card_name'
            ng-class="{'invalid-form':cardForm.cardname.$invalid && (cardForm.cardname.$touched || ctrl.submit),'valid-form':cardForm.cardname.$valid && cardForm.cardname.$touched}"
            required>
          <div ng-messages="cardForm.cardname.$error" ng-if="ctrl.submit || cardForm.cardname.$touched">
            <div class="alert alert-danger" ng-message="required">A valid name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Expires on:</label>
          <input type="text"
            class="form-control"
            name="cardexpiry"
            placeholder="MMYY"
            ng-model='ctrl.card_expiry'
            pattern="\d*"
            maxlength="4"
            minlength="4"
            ng-class="{'invalid-form':cardForm.cardexpiry.$invalid && (cardForm.cardexpiry.$touched || ctrl.submit),'valid-form':cardForm.cardexpiry.$valid && cardForm.cardexpiry.$touched}"
            required>
          <div ng-messages="cardForm.cardexpiry.$error" ng-if="ctrl.submit || cardForm.cardexpiry.$touched">
            <div class="alert alert-danger" ng-message="required">A valid expiry date is required.</div>
            <div class="alert alert-danger" ng-message="minlength">This number is too short!</div>
            <div class="alert alert-danger" ng-message="maxlength">This number is too long!</div>
            <div class="alert alert-danger" ng-message="pattern">Please follow the 'MMYY' format</div>
          </div>
        </div>
      </form>
      <!-- <button class="btn btn-success" ng-disabled= '!cardForm.$valid'
      ng-click='ctrl.selected = 1'>Confirm</button> -->
      <button  class="btn btn-green btn-checkout"
        ng-click='ctrl.processOrder(true)'>
        Process Order
      </button>
      <button  class="btn btn-green btn-checkout"
        ng-click='ctrl.processOrder(cartForm.$valid && addressForm.$valid && cardForm.$valid)'>
        Process Order
      </button>
    </div>
  </div>
</div>
<footer></footer>
