<shop-navbar></shop-navbar>

<div id="checkout" class="container">
	<button type="submit" class="btn btn-default back-btn" ng-click='ctrl.goBack()'>Back</button>
	<h3 class="check-title">Checkout</h3>
	<div class="cart-list panel panel-default">
		<div class="panel-heading"ng-click='ctrl.selected = 1'>
			<h4 ng-click='ctrl.selected = 1'>Cart:</h4>
			<h4 class='panel-heading-right' ng-hide=''>Total: {{ctrl.total * 1.13|currency}}</h4>
		</div>
		<ul class="panel-body" ng-show='ctrl.selected == 1'>
			<form name='cartForm'>
			<table class="table table-condensed table-striped">
				<tr>
					<th class="th-img">Item</th>
					<th class="th-name">Name</th>
					<th class="th-prc">Price</th>
					<th class="th-qty">Quantity</th>
					<th class="th-tot">Total</th>
					<th class="th-del">&nbsp;</th>
				</tr>
				<tr ng-repeat='item in ctrl.cart track by $index'>
					<td><img class="" ng-src='{{item.product.image}}'></td>
					<td>{{item.product.name}}</td>
					<td>{{item.product.price|currency}}</td>
					<td><input type="number" 
					class='qty-input'
					ng-model='item.quantity' 
					max='{{item.product.quantity}}'
					min='1'
					name='qty_{{$index}}'
					ng-class="{'invalid-form':cartForm['qty_' +$index].$invalid}"
					ng-change="ctrl.updateTotal()">
					<div ng-messages="cartForm['qty_' +$index].$error" ng-if="cartForm['qty_' +$index].$touched || ctrl.submit">
			          <div class="alert alert-danger error-msg" ng-message="min">Quantity must be at least 1</div>
			          <div class="alert alert-danger error-msg" ng-message="max">Not enough in stock! The  max available is {{item.product.quantity}}</div>
			        </div>
        			</td>
					<td>{{item.quantity * item.product.price | currency}}</td>
					<td><button class="btn btn-danger btn-xs" ng-click='ctrl.removeCart($index)'><i class="fa fa-times"></i></button></td>
				</tr>
			</table>
			<div class="totals">
				<h4>Subtotal:{{ctrl.total|currency}}</h4>
				<h4>Tax:{{ctrl.total * 0.13 |currency}}</h4>
				<h4>Total:{{ctrl.total * 1.13|currency}}</h4>
			</div>
			<button class="btn btn-success" ng-click='ctrl.selected = 2'>Next Step</button>
			</form>
		</ul>
		
	</div>

	<div class="ship-form panel panel-default">
		<div class="panel-heading"ng-click='ctrl.selected = 2'>
			<h4>Shipping and Billing Info</h4>
			<h4 class='panel-heading-right' ng-hide=''>Total + Shipping: {{(ctrl.total * 1.13) + 10|currency}}</h4>
		</div>
		<div class="panel-body" ng-show='ctrl.selected == 2'>
			<form name='addressForm'>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" 
						class="form-control"	
						name="name" 
						placeholder="Name" 
						ng-model='ctrl.name' 
						ng-class="{'invalid-form':addressForm.name.$invalid && (addressForm.name.$touched || ctrl.submit)}"
						required>
					<div ng-messages="addressForm.name.$error" ng-if="ctrl.submit || addressForm.name.$touched">
          				<div class="alert alert-danger" ng-message="required">A name is required.</div>
          			</div>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" 
						class="form-control"
						name="email" 
						placeholder="Email" 
						ng-model='ctrl.email' 
						ng-class="{'invalid-form':addressForm.email.$invalid && (addressForm.email.$touched || ctrl.submit)}"
						required>
					<div ng-messages="addressForm.email.$error" ng-if="ctrl.submit || addressForm.email.$touched">
						<div class="alert alert-danger" ng-message="required">An email is required.</div>
          				<div class="alert alert-danger" ng-message="email">This is not a valid email.</div>
        			</div>
				</div>
				<div class="form-group">
					<label for="name">Address:</label>
					<input type="text" 
						class="form-control"
						name="address" 
						placeholder="Address" 
						ng-model='ctrl.address'
						required>
				</div>
				<div class="form-group">
					<label for="name">City:</label>
					<input type="text" 
						class="form-control"	
						name="city" 
						placeholder="City" 
						ng-model='ctrl.city'
						required>
				</div>
				<div class="form-group">
					<label for="name">Province/State/Region:</label>
					<input type="text" class="form-control"	name="province" placeholder="Province" ng-model='ctrl.province'>
				</div>
				<div class="form-group">
					<label for="name">Postal Code/ZIP: </label>
					<input type="text" class="form-control"	name="postal" placeholder="Postal Code" ng-model='ctrl.postal'>
				</div>
			</form>
			<button class="btn btn-success" ng-disabled= '!addressForm.$valid'
			ng-click='ctrl.selected = 3'>Next Step</button>
		</div>
	</div>

	<div class="payment-form panel panel-default">
		<div class="panel-heading"ng-click='ctrl.selected = 3'>
			<h4>Payment Info</h4>
		</div>
		<div class="panel-body" ng-show='ctrl.selected == 3'>
			<form name='cardForm'>
				<div class="form-group">
					<label for="cardnumber">Credit Card Number</label>
					<input type="text" class="form-control"	name="cardnumber" placeholder="Card Number" ng-model='ctrl.card_number' required></input>
				</div>
				<div class="form-group">
					<label for="cardname">Name on Card</label>
					<input type="text" class="form-control"	name="cardname" placeholder="Name" ng-model='ctrl.card_name' required></input>
				</div>
				<div class="form-group">
					<label for="name">Expires on</label>
					<input type="number" class="form-control" name="cardexpiry" placeholder="MMYY" ng-model='ctrl.card_expiry'required></input>
				</div>
			</form>
			<!-- <button class="btn btn-success" ng-disabled= '!cardForm.$valid'
			ng-click='ctrl.selected = 1'>Confirm</button> -->
			<button class="btn btn-warning" ng-click='ctrl.processOrder(cartForm.$valid && addressForm.$valid && cardForm.$valid)'>Process Order</button>
		</div>
	</div>

</div>