<shop-navbar></shop-navbar>
<div class="message container">
	<h1>Hey {{ctrl.order.customer.name}}!</h1>
	<p>Your order has succesfully been submitted, listed below you will find your confirmation number as well as a summary of your purchase. 
	We've also sent you an invoice to {{ctrl.order.customer.email}}. </p>
</div>

<div class="orderSummary container">
	<h2>Order Summary</h2>
	<div class="cfrmNumber">
		<h4>Order Number: {{ctrl.orderId | digits:4}}</h4>
	</div>
	<div class="order">
		<h2>Your Order</h2>
		<ul>
			<li ng-repeat='item in ctrl.order.cart'>
				{{item.product.name}}, Qty: {{item.quantity}}
			</li>
		</ul>
		<h4>Order Total: {{ctrl.order.final_total|currency}}</h4>
		
	</div>
	
</div>