<shop-navbar></shop-navbar>

<div id="confirm">
    <div id="textin">
	    <div class="container hihi">
			<div class="message">
				<h1>Hey {{ctrl.order.customer.name}}!</h1>
				<p>Your order has succesfully been submitted,<br>listed below you will find your confirmation <br>number as well as a summary of your purchase.<br> 
				We've also sent you an invoice to {{ctrl.order.customer.email}}.</p>
			</div>

			<div class="orderSummary">
				<h3><strong>Order Summary</strong></h3>
				<div class="cfrmNumber">
					<p>Order Number: {{ctrl.orderId | digits:4}}</p>
				</div>
				<div class="order">
					<h3><strong>Your Order</strong></h3>
					<ul>
						<li ng-repeat='item in ctrl.order.cart'>
							<p>{{item.product.name}}, Qty: {{item.quantity}}</p>
						</li
					</ul>
					<h3><strong>Cart Total: </strong>{{ctrl.order.final_total|currency}}</h3>
					<p>Shipping Method: {{ctrl.order.customer.shipping.method}}</p>
					<p>Shipping Cost: {{ctrl.order.customer.shipping.cost | currency}}</p>
					<p>Estimated time to deliver: {{ctrl.order.customer.shipping.time}}</p>
					<div>
						<h2>Order Total: {{ctrl.order.final_total + ctrl.order.customer.shipping.cost | currency}}</h2>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<img id="AnimateOrange2" ng-src="{{ctrl.timed && 'assets/img/animateOrangeF.gif' || ''}}">

<div id="backToShop">
	<button id="nextbutton" class="btn btn-green btn-lg" ng-click="ctrl.backHome()">
	        Keep Shopping
	</button>
</div>

<!-- <div><img src="../assets/img/orangescute.png"><img src="../assets/img/orangescute.png"><img src="../assets/img/orangescute.png"><img src="../assets/img/orangescute.png"><img src="../assets/img/orangescute.png"></div> -->

<footer></footer>

