


<div id="footer">
     <div class="container-footer">


        <div class="col-md-4">
          <ul>
            <li><span class="glyphicon glyphicon-earphone glyphicon-footer" aria-hidden="true" style="font-size: 20px;line-height: 250%"></span></li>
            <li style="font-size: 18px;">1-888-777-5524</li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul>
            <li><span class="glyphicon glyphicon-map-marker glyphicon-footer" aria-hidden="true" style="font-size: 20px;line-height: 250%"></span></li>
            <li>460 King Street West</li>
            <li>Toronto, ON Canada</li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul>
            <li><span class="glyphicon glyphicon-envelope glyphicon-footer" aria-hidden="true" style="font-size: 20px;line-height: 250%;"></span></li>
            <li>Email Us</li>
          </ul>
        </div>


        <div class="col-md-12" id="team">
          <p>Spartan is proudly co-founded in Toronto by: Ryan, Kim, Natasha, Yana & Cesar</p>
        </div>

     </div>
</div>
