<shop-navbar></shop-navbar>
<div class="container-fluid" id="top">

  <div class="row">

    <div class="col-xs-5" id="products">
      <img class="movie-poster" src="{{ctrl.product.image}}">
    </div>

    <div class="col-xs-7" id="info">

    <h1>{{ctrl.product.name}}</h1>

    <p>{{ctrl.product.description}}</p>

    <h3>$ {{ctrl.product.price}}</h3>

    <form class="form-inline">
      
      <div class="btnmargin">
        <select class="form-control input-lg"placeholder="Quantity">
            <option>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
      </div>

      <div class="btnmargin">
        <button type="submit" class="btn btn-danger btn-lg">Add to Cart</button>
      </div>

    </form>

    </div>

  </div>

</div>