<div class="container-fluid" id="top">

  <div class="row">

    <div class="col-xs-5" id="products">
      <img class="movie-poster" src="assets/img/img-duffle.png">
    </div>

    <div class="col-xs-7" id="info">

    <h1>What is Lorem Ipsum?</h1>

    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

    <form class="form-inline">
      
      <div class="btnmargin">
        <select class="form-control input-lg"placeholder="Quantity">
            <option>Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
      </div>

      <div class="form-group" class="btnmargin">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Cost">
        </div>
      </div>

      <div class="btnmargin">
        <button type="submit" class="btn btn-danger btn-lg">Add to Cart</button>
      </div>

    </form>

    </div>

  </div>

</div>