<!-- <nav id="shop-navbar">
	<ul class="left-nav">
  		<li><img src="assets/img/logo.png"></li>
	</ul>
	<ul class="right-nav">
		<li><form class="form-inline"><div class="form-container"> 
			<input ng-model='ctrl.productSearch' type="text" class="form-control" placeholder="">
			<a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
		</div></form></li>
  		<li><i class="fa fa-shopping-cart"></i><span class="cart">Cart</span></li>
	</ul>
</nav> -->

<nav id="shop-navbar" class="navbar navbar-default navbar-fixed-top">
  	<div class="container-fluid">
	    <div class="navbar-header">

		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>

	 <!-- Brand Name -->

		      <span ><img ng-click="ctrl.goToHome()" class="logo" id="logo" src="assets/img/logo2.png" ></span>
		      <span id="spartan" class="navbar-brand" ng-click="ctrl.goToHome()">Spartan</span>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     	</ul>

	     	<ul class="nav navbar-nav navbar-right">
	     		
	     		<!-- <div class="form-group" ng-hide='ctrl.is_admin'>
	     			<form class="navbar-right form-inline">
	     				<div id="searchbutton" class="input-group">
						<input 
							id="look"
							ng-model="ctrl.productSrv.productsSearch" 
							type="text" 
							class="form-control"
							placeholder="Looking for something?">
						<span class="input-group-btn">
							<button class="btn search-btn" type="button">
								<img src="assets/img/icon-search@2x.png">
							</button>
						</span>
						</div>
					</form>
				</div> -->
				
			<!-- Cart Icon -->
		       <li ng-hide='ctrl.is_admin'><div id="cart" ng-click="ctrl.openCart()" class="btn"><i class="fa fa-shopping-cart"></i><span class="cart">Cart </span><span class="badge">{{ctrl.cartCount}}</span></div></li>

		       	<li><button id="login" type="button" class="btn btn-default" ng-click="ctrl.loginForm()">
		       		<span ng-hide='ctrl.logged' id="loginF">Login</span>
		       		<span ng-show='ctrl.logged'>Admin Tools</span>
		       	</button></li>
		        

	    	</ul>
	    </div>
  	</div>
</nav>