<shop-navbar></shop-navbar>

<section class="top-content" id="mainimage" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">	
					<h1 class="brand">
						Spartan Supplier
					</h1>
					<h3>
						Buy all your festival gear from Burning Man's number one online supplier
					</h3>


    <!--       <div class="">
            <form> -->
             <!--  <! TO DO #3: ENABLE PRODUCT SEARCH
              <div class="form-container">
 -->          <!--       <input 
                  type="text" 
                  class="form-control"  
                  placeholder="Search for a brand or item" 
                  ng-model="ctrl.search">
                <a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
              </div>
            </form>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="call-to-action" class="container">
	<div>
		<h2> Click On A Category To Begin Your Search</h2>
	</div>
</section>

<section class="product-view" role="product-view">
	<div class="content-wrapper">
		<div class="row">
			<!-- TODO #3: SHOW PRODUCTS -->
			<div class="col-xs-12 col-md-4" ng-repeat='category in ctrl.categories' ng-click='ctrl.goToCategories(category.category)'>
			   <div id="product-card" class="product-card">
		
					<!-- SET PRODUCT IMAGE -->
					<div class="product-img" style="background:url('{{category.image}}');background-size:cover;background-position:center center">
						<div class="product-name">
						<div class="product-info">
						<!-- <div class="product-name"> -->
							<!-- SET PRODUCT NAME -->
							<h2>{{category.category |titleCaseFilter}}</h2>			
						</div>
					</div>

						<!-- <div class="product-brand"> -->
							<!-- SET PRODUCT Description -->
							<!-- <em>{{category.description}}</em> -->
						<!-- </div> -->
					</div>

				</div>
			</div>

		</div>
	</div>
</section>


