#admin {
	background:white !important;
	height:100%;
	width:100%;
	font-size:0;
}

#admin .admin-container{
	position:relative;
	width:100%;
	margin-top:-5px;
}

#admin .active{
	text-decoration: underline;
}

#admin .nav-panel h3{
	font-size:2.5rem;
	color:white;
}
#admin .nav-panel{
	background:#ff6d37;
	padding:40px;
	width:25%;
	min-height:100vh;
	/*float:left;*/
	font-size:1rem;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

#admin .nav-panel ul{
	list-style: none;
	padding:0px;
	margin:40px 0px;
}

#admin .nav-panel ul li{
	margin:10px 0px;
	color:white;
	font-size:2rem;
	font-weight:200;
}
#admin .nav-panel ul li > a{
	color:white;
}
#admin .nav-panel ul li:hover{
	color:#2b96ff;
}

#admin .main-content{
	background: white;
	/*float:left;*/
	padding:40px;
	width:75%;
	font-size:14px;
	color:#555;
	position:relative;
	margin-left: 25%

}

#admin .products-list a{
	color:#2b96ff;
}
#admin .product-frm{
	width:50%;
	min-width:400px;
}

#admin label{
	display: block;
	font-size:1rem;
	font-weight:200;
	margin-bottom:5px;
}

/*#admin .product-frm input, #admin .product-frm textarea, #admin .product-frm select{
	width:100%;
}*/

#admin .product-frm select{
	font-size:1rem;
}

#small {
	width: 25px;
	height: 25px;
}

.navbar-right {
	/*margin-right: 350px;*/
}

#refine {
	color: black;
}


#newProduct2 {
	background-color: white;
	width: 300px;
}

.newProduct {
	background-color: rgb(214,122,77);
	width: 120px;
	text-align: left;
	color: white;
}

.newSubmit {
	margin-left: 335px;
}

.margin {
	margin-bottom: 5px;
	margin-left: 20px;
}

.updateBu {
	margin-left: 173.5px;
}

.deleteBu {
	margin-left: 10px;
}



#order-detail .back-btn{
  position:relative;
  left:0px;
  top:0px;
}

#order-detail .cart-list{
  margin-top:0px;
}


#order-detail img{
  height:100%;
  border:1px solid lightgray;
}

#order-detail td{
  height:60px;
  vertical-align: middle;
}

#order-detail table{
  font-size:14px;
  text-align: center;
  table-layout: fixed;
  word-wrap:break-word;
}

#order-detail th{
  text-align:center;
  /*border:1px solid blue;*/
}

#order-detail .panel-heading-right{
  display:inline-block;
  float:right;
  margin-top:-30px;
}

#order-detail .totals{
  /*width:250px;*/
  display:block;
  /*float:right;*/
  /*border:1px solid blue;*/
  text-align: right;
}

#order-detail .cart-list .error-msg{
  position:absolute;
  padding:5px;
}


#order-detail .th-img{
  width:20%;
}
#order-detail .th-name{
  width:45%;
}
#order-detail .th-prc{
  width:10%;
}
#order-detail .th-qty{
  width:15%;
}
#order-detail .th-tot{
  width:10%;
}
#order-detail .th-del{
  width:5%;
}
