.cart-table td {
  height:60px;
  vertical-align: middle!important;


  /*font-size: 14px;*/
}

#total h4 {
  text-align: right;
  margin-right: 20px;
}

#total button {
  float: right;
  margin-right: 20px;
  margin-bottom: 30px;
}

.cart-table {
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.cart-th {
  text-align: center;
}

.cart-table img {
  border:1px solid lightgray;
/*  max-width: 70px;*/
  height: 49px;
}


/*Navbar related*/

body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 0px;
}

#footer {
  /*position:absolute;*/
  /*bottom:0px;*/
  margin-top:50px;
  height: 200px!important;
  background-color: #3B3B40;
}

#footer p{
  color: white;
  font-size: 16px;
  /*padding: 10px;*/
}

.container-footer div {
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 20px;
  padding-bottom: 0px;


  /*vertical-align: middle;*/
}

#team {
  padding-top: 25px;

}

#team p {
  color: #A6A6A6;
}

.glyphicon-footer {
  color: #9ACC60;
}


/*Checkout page*/
#checkout {
  width: 50%;
  margin:auto;
}

.checkout-header {
  margin-top: 40px;
}
