/*Top Content*/
.top-banner{
	width:50%;
	height:70%;
	background:url('');
	background-size:cover;
	overflow: hidden;
	background-position:center center;
	text-align: center;
	position: relative;
	left:27vw;
}

/*#mainimage {
	height:50%);
}*/

.top-banner h1{
	font-size:4rem;
	border: 0.083vw solid rgba(245, 245, 245, 0.2);
	padding: 1vw 0vw;
	margin-bottom: 4.58;
	margin-bottom: 1.5vw;
}


.top-banner .content{
	margin:0 auto;
}

.top-banner form{
	position: relative;
	width:38rem;
	margin-top: 1vw;
	margin-bottom: 3.75vw;
	margin-left: auto ;
	margin-right: auto;
}

.top-banner form input{
	height:40px;
	display: inline-block;
}

.top-banner .search-btn{
	position: absolute;
	background:#ff6d37;
	height:40px;
	width:40px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	vertical-align: middle;
	top:0px;
	right:0px;

}
.top-banner .search-btn img{
	width:18px;
	margin-top:11px;
}

/*Side Bar*/
.sidebar{
	max-height: 100em;
	background-color:white;
	position: fixed;
	top: 7vw;
    left: 2.5vw;
}

/*Products*/
.main-card{
	margin-bottom: 2.5vw;
}

.product-container{
	padding: 20px;
}

#products{
	position: relative;
	left:156px;
}

.product-card{
	margin:10px;
	height: 20em;
}

.product-view{
  padding-top:1vw;
}

.product-view .product-card{
  width:100%;
  height: 30vw;
  background:white;
  font-size:1.5rem;
  text-align:center;
  position: relative;
  border: lightgray solid 1px;
}

#product-card .prod-name{
  font-weight:600;
  padding-top: 1vw;
  position: relative;
  top: 21vw;
}

#product-card .product-buy{
  position: absolute;
  background: #ff6d37;
  border-radius:100%;
  color:white;
  height:30px;
  width:30px;
  top:10px;
  right:10px;
}

#product-card .product-buy:hover{
  position: absolute;
  background: #333;
  border-radius:100%;
  color:#ff6d37;
  height:30px;
  width:30px;
  top:10px;
  right:10px;
}

#product-card .table-cell{
	position: absolute;
    top: 4px;
    right: 8.5px;
}

#product-card:hover{
	cursor: pointer;
	cursor:hand;
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

#categories .category-list{
	font-size:16px;
}

.category-list li:hover{
	color:#ff6d37;
}

#categories .category-list img{
	height:40px;
	width:40px;
}

#categories .category-list span{
	vertical-align: middle;
	position:relative;
	top:1px;

	/*line-height:40px;*/
}
#categories .all-label{
	/*margin-top:10px;*/
	display:inline;
	position:relative;
	top:2px;
}

.sidebar .list{
	margin: 1vw 0vw;
}

.active{
	font-weight:bold;
	/*background-color:red;*/
	color:#ff6d37;
}
/*.category-header{
	text-decoration: underline;
}*/

#shop-navbar{
	margin-bottom:0px;
	background:#FFF;
	color:#ff6d37;
}

#shop-navbar #cart .badge{
	margin-bottom:0px;
	border: 1px solid #333;
	color:#333;
	background: white;
}

#shop-navbar .navbar-brand{
	margin-left:30px;
	color: #ff6d37;
}

#shop-navbar .search-btn{
	display:inline-block;
	background:#ff6d37;
}
#shop-navbar .search-btn img{
	width:17px;
/*	margin-left:5px;
	margin-top:-19px;*/
}

#shop-navbar ul li{
	display:inline-block;
	margin-right:20px;
}

.cart-list{
	margin-top:50px;
}

.panel-heading{
	z-index:50;
}

#cat-prod-card .productImg{
	max-width: 100%;
	max-height: 16.667vw;
}

#adminbutt {
	position: absolute;
    background: #ff6d37;
    height: 40px;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: middle;
    top: 0px;
    right: 0px;
}

#reloadbutt {
	margin-top: 20px;
	margin-bottom: 20px;
}

#product-card .product-img{
  width:100%;
  height:20vw;
  margin-top:0vw;;
}
