.checkuotCss {
	position: absolute;
	top: 70px;
	left: 650px;
}

.backCss {
	position: absolute;
/*	top: 50px;
	left: 50px;*/
}

.checkoutMargin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-default>.panel-heading {
	background-color: #EF6A33;
	color: white;
}

#nextbutton {
	border-color:  #EF6A33;
	background-color: white;
	color: #EF6A33;
}

#nextbutton:hover { 
    background-color: lightgrey;
}

#checkoutbtn {
	background-color: #9ACC60;
	border-color: white;
}

#checkoutbtn:hover { 
	background-color: lightgrey;
}

#AnimateOrange2 {
	position: absolute;
	top:355px;
	right: 0px;
}