#checkout .back-btn{
  position:absolute;
  left:25px;
  top:20px;
/*  border-color:  #EF6A33;
  background-color: white;
  color: #EF6A33;*/
  /*float:left;*/
}

#checkout .checkout-header {
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: middle;
  text-align: center;
}

#checkout .check-title{
  margin:0 auto;
  display:inline-block;
  /*text-align: center;*/

}

#checkout .cart-list{
  margin-top:0px;
}

#checkout .panel-heading{
  z-index:50;
  padding:5px 10px;
}

#checkout img{
  height:100%;
  border:1px solid lightgray;
}

#checkout td{
  height:60px;
  vertical-align: middle;
}

#checkout table{
  font-size:14px;
  text-align: center;
  table-layout: fixed;
  word-wrap:break-word;
  border-bottom: 1px solid #ddd;
}

#checkout th{
  text-align:center;
  /*border:1px solid blue;*/
}

#checkout .panel-heading-right{
  display:inline-block;
  float:right;
  margin-top:-30px;
}

#checkout .totals{
  /*width:250px;*/
  display:block;
  /*float:right;*/
  /*border:1px solid blue;*/
  text-align: right;
}

#checkout .qty-input{
  width:50px;
  /*border:1px solid red;*/
  text-align: center;
}

#checkout .cart-list .error-msg{
  position:absolute;
  padding:5px;
}

#checkout .alert{
  font-size:14px;
  padding:5px;
}

#checkout .th-img{
  width:20%;
}
#checkout .th-name{
  width:40%;
}
#checkout .th-prc{
  width:10%;
}
#checkout .th-qty{
  width:15%;
}
#checkout .th-tot{
  width:10%;
}
#checkout .th-del{
  width:5%;
}
#checkout .valid-form{
  border:2px solid green;
}

#checkout .panel-heading {
  background-color: #EF6A33;
  color: white;
}

/*#checkout .nextbutton {
  border-color:  #EF6A33;
  background-color: white;
  color: #EF6A33;
}

#checkout .nextbutton:hover {
    background-color: lightgrey;
}*/

/*#checkout .checkout-btn {
  background-color: #9ACC60;
  border-color: white;
}

#checkout .checkout-btn:hover {
  background-color: lightgrey;
}*/

#checkout .btn-next, #checkout .btn-checkout{
  /*float:center;*/
  float:right;
  /*margin: 0 auto;*/
}

#AnimateOrange2 {
  position: absolute;
  top:355px;
  right: 0px;
}
