#products {
    text-align: center;
}

/*#products .row{
	margin-top: 150px;
}*/

#top {
  margin-top: 100px;
}

#top .movie-poster{
  max-width: 25vw;
}

.btnmargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

#info {
  padding-right: 100px;
}

h1 {
  margin-top: 0px;
  margin-top: Opx;
}

#info button{
<<<<<<< HEAD
	color: #ff6d37;
	
}

.cartitem {
	text-align: center;
	margin-top: 20px;
}

#total {
	text-align: center;
}

=======
  color: #ff6d37;

}

.modal.fade.ng-isolate-scope.in {
  overflow: scroll;
}
>>>>>>> NatashaThirlwell/master
